<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arithmetic Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arithmetic.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
        body::before {
            content: "";
            background-image: url('{{ url_for('static', filename='images/arithmetic_background_10.png') }}');
            background-size: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            opacity: 0.1;
            position: absolute;
            top: 0;
            left: 0;
            width: 130%;
            height: 130%;
            z-index: -1;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('mathematics') }}">Mathematics</a>
        <a href="{{ url_for('arithmetic') }}">Arithmetic</a>
        <a href="#">Algebra</a>
        <a href="#">Geometry</a>
        <a href="#">Trigonometry</a>
        <a href="#">Calculus</a>
    </div>
    
    <div class="chat-container">
        <div id="output-area" class="chat-box"></div>

        <!--<div class="prompt-area">
            <input type="text" id="user-input" placeholder="Type your message here...">
            <button id="send-button">Send</button>
        </div>-->

        <div class="prompt-area">
            <i id="attach-icon" class="fas fa-paperclip"></i>
            <input type="text" id="user-input" placeholder="Type your message here...">
            <input type="file" id="file-input" style="display: none;">
            
            <i id="send-icon" class="fas fa-paper-plane"></i>
            <i id="voice-icon" class="fas fa-microphone"></i>
        </div>

    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/marked@4.0.10/marked.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/describe_image.js') }}"></script>
    <script src="{{ url_for('static', filename='js/microphone.js') }}"></script>
</body>
</html>
