<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arithmetic Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arithmetic.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap">

    <style>
        body::before {
            content: "";
            background-image: url('{{ url_for('static', filename='images/arithmetic_background_10.png') }}');
            background-size: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            opacity: 0.1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <div id="output-area" class="chat-box"></div>

        <div class="prompt-area">
            <input type="text" id="user-input" placeholder="Type your message here...">
            <button id="send-button">Send</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
