{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arithmetic.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap">
    <style>
        body::before {
            content: "";
            background-image: url('{{ url_for('static', filename='images/arithmetic_background_10.png') }}');
            background-size: 100%; /* Incrementa el tamaño de la imagen */
            background-position: top center; /* Cambia la posición a la parte superior centrada */
            background-repeat: no-repeat;
            opacity: 0.1; /* Baja opacidad para mayor sutileza */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Asegura que esté detrás de todo el contenido */
    </style>
{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat-box" id="chat-box">
        <!-- Chat messages will be appended here -->
    </div>
    <div class="prompt-area">
        <input type="text" id="user-input" placeholder="Type your question here...">
        <button onclick="sendMessage()">Send</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
