<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculus Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculus.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
        body::before {
            content: "";
            background-image: url('{{ url_for('static', filename='images/calculus.png') }}');
            background-size: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
            width: 130%;
            height: 130%;
            z-index: -1;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a>
        <a href="{{ url_for('mathematics') }}" class="{% if request.endpoint == 'mathematics' %}active{% endif %}">Mathematics</a>
        <a href="{{ url_for('math') }}" class="{% if request.endpoint == 'math' %}active{% endif %}">Math</a>
        <a href="{{ url_for('arithmetic') }}" class="{% if request.endpoint == 'arithmetic' %}active{% endif %}">Arithmetic</a>
        <a href="{{ url_for('algebra') }}" class="{% if request.endpoint == 'algebra' %}active{% endif %}">Algebra</a>
        <a href="{{ url_for('geometry') }}" class="{% if request.endpoint == 'geometry' %}active{% endif %}">Geometry</a>
        <a href="{{ url_for('trigonometry') }}" class="{% if request.endpoint == 'trigonometry' %}active{% endif %}">Trigonometry</a>
        <a href="{{ url_for('calculus') }}" class="{% if request.endpoint == 'calculus' %}active{% endif %}">Calculus</a>
    </div>
    
    <div class="chat-container">
        <div id="output-area" class="chat-box"></div>
        <div class="prompt-area">
            <i id="attach-icon" class="fas fa-paperclip"></i>
            <input type="text" id="user-input" placeholder="Type your message here...">
            <input type="file" id="file-input" style="display: none;">
            
            <i id="send-icon" class="fas fa-paper-plane"></i>
            <i id="voice-icon" class="fas fa-microphone"></i>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat_calculus.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/describe_image.js') }}"></script>
    <script src="{{ url_for('static', filename='js/microphone.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/stt_geometry.js') }}" type="module"></script>-->
    <script src="{{ url_for('static', filename='js/utils.js') }}" type="module"></script>
</body>
<footer>
    <p>&copy; 2024 SamMathTutor. All rights reserved.</p>
</footer>

</html>
