/* Estilo para el menú de navegación */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-family: 'Patrick Hand', cursive; /* Ajustar la fuente según el estilo de la página */
}

.nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
    overflow: hidden;
}

.chat-container {
    max-width: 1150px;
    margin: 60px auto 0; /* Ajustar el margen superior para que no interfiera con el menú */
    padding: 0.5em;
    background-color: rgba(45, 45, 45, 0.95); /* Color de pizarrón con opacidad */
    border: 15px solid #8b4513; /* Marco de madera */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    position: relative;
    z-index: 1;
}

.chat-box {
    height: 700px;
    overflow-y: auto;
    padding: .5em;
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'Patrick Hand', cursive; /* Fuente de gis */
    border-bottom: 2px solid #8b4513;
    /*font-size: 1.2em;*/ /* Aumenta el tamaño de la fuente aquí */
}

/* Clearfix para evitar problemas de flotación */
.chat-box::after {
    content: "";
    display: table;
    clear: both;
}

.prompt-area {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #2d2d2d;
    z-index: 2; /* Asegura que el área de entrada esté en el frente */
}

.prompt-area i {
    color: #007bff;
    cursor: pointer;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.prompt-area i:hover {
    color: #0056b3;
}

.prompt-area input[type="text"] {
    flex: 1;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin-right: 1em;
    background-color: #fff;
    color: #000;
}

.prompt-area button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5em;
}

.prompt-area button:hover {
    background-color: #0056b3;
}

#attach-icon {
    color: #007bff;
    cursor: pointer;
    margin-right: 0.5em;
    font-size: 1.5em;
}

#attach-icon:hover {
    color: #0056b3;
}

.user-message, .assistant-message {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 4px;
    font-size: 1.4em; /* Aumenta el tamaño de la fuente aquí */
}

.user-message {
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea el contenido del mensaje a la derecha */
}

.assistant-message {
    color: #fff;
    text-align: left;
}

.assistant-message ul,
.assistant-message ol {
    margin: 0;
    padding-left: 20px; /* Ajustar la sangría para la lista */
}

.assistant-message li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
    line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
}

.assistant-message p {
    margin-bottom: 10px; /* Espacio entre párrafos */
}


.user-image {
    max-width: 100%;
    height: auto;
    margin: 0.5em 0;
    border-radius: 4px;
    display: inline-block;
    max-height: 300px; /* Establece la altura máxima para las imágenes */
    width: auto;
}

.user-image-container {
    position: relative; /* Asegura que el contenedor tenga una posición fija */
    display: flex;
    justify-content: flex-end; /* Asegura que el contenido dentro del contenedor esté a la derecha */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spinner 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}
