body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    background-image: url('{{ url_for('static', filename='images/ui_aritmetic_bacground_2.png') }}');
    background-size: 150%; /* Incrementa el tamaño de la imagen */
    background-position: top center; /* Cambia la posición a la parte superior centrada */
    background-repeat: no-repeat;
    opacity: 0.1; /* Baja opacidad para mayor sutileza */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás de todo el contenido */
}

.chat-container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0.5em;
    background-color: rgba(45, 45, 45, 0.95); /* Color de pizarrón con opacidad */
    border: 15px solid #8b4513; /* Marco de madera */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
    position: relative;
    z-index: 1;
}

.chat-box {
    height: 700px;
    overflow-y: auto;
    padding: .5em;
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'Patrick Hand', cursive; /* Fuente de gis */
    border-bottom: 2px solid #8b4513;
}

.prompt-area {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #2d2d2d;
}

.prompt-area input {
    flex: 1;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin-right: 1em;
     background-color: #fff;
    color: #000;
}

.prompt-area button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.prompt-area button:hover {
    background-color: #0056b3;
}

.user-message, .assistant-message {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 4px;
    font-size: 1.4em; /* Aumenta el tamaño de la fuente aquí */
}

.user-message {
    /*background-color: #007bff;*/
    color: #fff;
    text-align: right;
}

.assistant-message {
    /*background-color: #8b4513;*/
    color: #fff;
    text-align: left;
}
